<% provide :title, t(".title") %>

<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <%= link_to t(".sign-up_btn"), new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
