<aside>
  <section class="user_info">
    <h1>
      <%= category.name %>
    </h1>
    <p>
      <%= t ".created_time", created_time: category.created_at %>
    </p>
    <p>
      <%= t ".updated_time", updated_time: category.updated_at %>
    </p>
  </section>
</aside>
