<aside>
  <section class="user_info">
    <h1>
      <%= link_to category.name, [:admin, category] %>
      <%= link_to "", admin_category_path(category), method: :delete, data: {confirm: 
        t(".confirm_sure")}, class: "glyphicon glyphicon-trash" %>
    </h1>
    <p>
      <%= t ".created_time", created_time: category.created_at %>
    </p>
    <p>
      <%= t ".updated_time", updated_time: category.updated_at %>
    </p>
  </section>
</aside>
